.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.product__details {
  display: flex;
  width: 100%;
  align-items: center;
  max-width: 1300px;
  margin-right: auto;
  margin-left: auto;
}

.product__image {
  height: 500px;
  width: 100%;
  object-fit: contain;
  border-style: none;
}

.product__name {
  margin-top: -27%;
  margin-left: 15%;
}

.product__name > h1 {
  color: black;
  text-transform: uppercase !important;
  font-size: 22px !important;
  font-weight: 300;
  margin-bottom: 0.5rem;
  letter-spacing: 0.1em;
}

.product__name > p {
  margin-top: 20px;
  margin-bottom: 10px;
  letter-spacing: 2px;
  font-weight: 500;
}

.product__name > button {
  background-color: white;
  text-transform: uppercase;
  border: 1px solid black;
  padding: 13px 20px;
  margin-top: 50px;
  width: 300px;
  border-radius: 7px;
  outline: none;
}

.product__name > button:hover {
  cursor: pointer;
  background-color: black;
  color: white;
  transition: ease-in-out 350ms;
}

.product__bestSellers {
  display: flex;
  flex-direction: column;
}

.product__bestSellers > h1 {
  text-align: center;
  margin-top: 50px;
  font-weight: 600;
  margin-bottom: 80px;
  letter-spacing: 7px;
}

.product__bestSellers > h1 > hr {
  max-width: 200px;
  opacity: 40%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.bestSeller__row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1700px;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
}

.animation {
  display: flex;
  align-items: center;
  width: 100%;
  transform: translateY(-100%);
  margin: 0 auto;
}

/* Media Query */

@media (max-width: 675px) {
  .product__details {
    flex-direction: column;
  }

  .product__details {
    width: 95%;
    margin: 0 auto;
  }

  .product__image {
    width: 95%;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 20px;
  }

  .product__image > img {
    margin: 0 auto;
    max-height: 230px;
  }

  .product__name {
    display: flex;
    flex-direction: column;
    margin: 0;
  }

  .product__name > h1 {
    font-weight: 600;
    font-size: 16px !important;
  }

  .product__name > p {
    font-size: 14px;
  }

  .product__name > button {
    margin: 0 auto;
    margin-top: 50px;
    background-color: #002ab0;
    color: white;
    letter-spacing: 2px;
    font-weight: 600;
    border: none;
  }

  .animation {
    flex-direction: column;
  }
}
