.footer {
  background-color: black;
  height: 400px;
  margin-top: 100px;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
}

.footer__content {
  display: flex;
  color: white;
  justify-content: space-between;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.footer__logo > img {
  margin-top: 0.2em;
  margin-bottom: 1px;
}

.footer__logoImage {
  height: 160px;
}

.footer__links > h3 {
  margin-top: 2.5em;
  margin-bottom: 30px;
  text-transform: capitalize;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 2px;
}

.footer__links > p {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: left;
  font-weight: 200;
}

.footer__products > h3 {
  margin-top: 2.5em;
  margin-bottom: 30px;
  text-transform: capitalize;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 2px;
}

.footer__products > p {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: left;
  font-weight: 200;
}

.footer__support > h3 {
  margin-top: 2.5em;
  margin-bottom: 30px;
  text-transform: capitalize;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 2px;
}

.footer__support > p {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: left;
  font-weight: 200;
}

/* media query */

@media (max-width: 675px) {
  .footer {
    height: fit-content;
    margin-top: 50px;
  }

  .footer__content {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: 0 auto;
    max-width: 85%;
  }
}
